@charset "UTF-8";
header {
  height: 75px;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  background: white;
}

.container {
  width: 980px;
  margin: 0 auto;
  font-family: "Yu Gothic Medium", "游ゴシック Medium";
  color: #333333;
}

.header-left {
  font-size: 20px;
  float: left;
  margin: 25px 0 26px;
}

.header-right {
  float: right;
  margin: 25px 0 26px;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
  font-size: 18px;
  float: left;
  margin-right: 48.08px;
}

.top-wrapper {
  background-image: url(../images/header.png);
  background-size: cover;
  height: 900px;
  margin-top: 75px;
  color: white;
  text-align: center;
}

.top-wrapper img {
  margin-top: 378px;
}

.sentence-wrapper {
  padding-top: 99.5px;
  font-size: 24px;
}

.sentence-header {
  font-weight: bold;
  font-size: 40px;
  margin-top: 0;
}

.sentence {
  padding-bottom: 100px;
}

.cat1-wrapper {
  background-color: #FCF6F2;
}

.cat1-header, .cat2-header {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  padding: 100px 0px;
  margin: 0;
}

.description {
  width: 100%;
}

.description:after {
  content:" ";
  display:block;
  clear:both;
}

.description img {
  height: 300px;
}

.cat1-wrapper .description img {
  padding-bottom: 100px;
}

.cat2-wrapper .description img {
  padding-bottom: 50.5px;
}

.description p {
  font-size: 20px;
  margin: 0 auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.middle-wrapper {
  background-image: url(../images/catbg.png);
  background-size: cover;
  margin-top: 100px;
  position: absolute;
  width: 100%;
  height: 900px;
}

.catbg-sentence {
  position: relative;
  width: 352px;
  top: 101px;
  left: 100%;
  transform: translateX(-100%);
  margin: 0;
  padding: 98px 75px 150px 75px;
  background-color: rgba(255,255,255, 0.51);
  font-weight: bold;
}
