@charset "UTF-8";
header {
  height: 75px;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  background: white;
}

.container {
  width: 980px;
  margin: 0 auto;
}

.header-left {
  font-family: 'Ohmega Sans';
  font-size: 20px;
  float: left;
  margin: 25px 0 26px;
}

.header-right {
  float: right;
  margin: 25px 0 26px;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
  font-family: "Yu Gothic Medium", "游ゴシック Medium";
  font-size: 18px;
  float: left;
  margin-right: 48.08px;
}

.top-wrapper {
  background-image: url(../images/header.png);
  background-size: cover;
  height: 900px;
  margin-top: 75px;
  color: white;
  text-align: center;
}

.top-wrapper img {
  margin-top: 378px;
}
